@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;

    font-family: 'Lato', sans-serif;
    color: #011b14;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: "header" "main" "footer";
}

header{
    background: #1DC879;
    grid-area: header;
}
main{
    background: #fff;
    grid-area: main;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background: #baeeca;
    grid-area: footer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
    box-shadow: #011b1449 0px 5px 5px;

    z-index: 1;
}
header h1{
    font-size: 19px;
    font-weight: bolder;
    text-align: center;
    margin: 10px 0;

    color: #011b14;
}
header .c-img{
    width: 50px;
}
header .c-img img{
    width: 100%;
}
main .card{
    background: #ade7cc;
    width: 800px;
    padding: 30px;

    border: 2px solid #4d907e;
    border-radius: 10px;
    box-shadow: #0f8061 0 0 10px;
}
main .card .card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 30px;
    border-bottom: 1px solid #baeeca;
}
main .card .card-header h3{
    font-size: 24px;
    padding-bottom: 20px;
}
main .card .card-header select{
    outline: none;
    background: none;
    border: 3px solid #1DC879;
    -webkit-appearance: none;

    font-size: 17px;
    padding: 10px;
    background-image: url(arrow.png);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
main .card .card-body{
    padding-top: 30px;
}

main .card .card-body .fecha{
    background: #51df9d;
    border: 1px solid #145544;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
main .card .card-body .fecha p{
    font-weight: bold;
    font-size: 14px;
}
main .tabs{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 20px;
}
main .tabs .tab{
    background: #eafaf3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #07584391;
    border-radius: 10px;

    font-size: 20px;
    transition: all .3s ease;
}
main .tabs .tab:hover{
    transform: rotate(10deg);
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #053327;
    font-size: 13px;
}
